{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#description" aria-controls="home" role="tab" data-toggle="tab">
                                Вопрос
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#delivery" aria-controls="profile" role="tab" data-toggle="tab">
                                Ответ
                            </a>
                        </li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content product-description-tabs">

                        <div role="tabpanel" class="tab-pane active" id="description">
                            <!--{{ product.description }}-->
                            <h4>Задайте ваш вопрос</h4>
                            <textarea name="question-form" rows="4" cols="80"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="delivery">
                            {% if dialogs %}

                                    {% for dialog in dialogs %}
                                        <h4> На ваш вопрос:</h4>
                                        {{ dialog.user_meessage }}
                                        {% if dialog.admin_meessage %}
                                        <h4> Вы получили ответ:</h4>
                                        {{ dialog.admin_meessage }}
                                        {% else %}
                                        <h4> Администратор ответит в ближайшее время</h4>
                                        {% endif %}

                                    {% endfor %}

                            {% else %}
                                <h4>Вы еще не задавали вопросов</h4>
                            {% endif %}
                        </div>
                      </div>
            </div>
        </div>
    </div>
{% endblock %}
                    <form class="form-horizontal" method="post">{% csrf_token %}

                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label>Введите свой вопрос</label>
                                    <span class="form-error">{{ form.question.errors }}</span>
                                    <input type="textarea" question="{{ form.question.html_question }}" class="form-control"
                                        value="{{ request.POST.question }}"
                                    >
                                </div>
                            </div>
    
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Отправить</button>
                        </div>

                    </form>

