{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-4">
                    <div>
                        <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Войти</button>
    </form>
    <a href= "/register/" class="btn btn-primary">Регистрация</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}